.choice-profile {
  max-width: 80%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 50%;
  margin: 2em 0;
}
.profile-gate-con {
  background: #141414;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 0;
  transform: translateX(10%) translateY(20%);
}
.avatar-wrapper {
  position: relative;
}

.profile {
  max-width: 200px;
  min-width: 84px;
  width: 10vw;
  /* margin-bottom: 2vw; */
  margin: 0 1vw 2vw;
}
.pinning-head {
  width: 100%;
  height: 70px;
}
.pinnin-con {
  height: 70px;
  top: 0;
  position: relative;
  left: 0;
  right: 0;
}
.list-profile {
  max-width: 80%;
}
.profile-icon {
  width: 100%;
  border-radius: 10px;
}

.profile-button {
  background-color: transparent;
  color: grey;
  cursor: pointer;
  display: block;
  font-size: 0.8vw;
  letter-spacing: 2px;
  margin: 2em 0 1em;
  padding: 0.5em 1.5em;
  transform: translateY(120%) translateX(37.3%);
}
.profile-text {
  color: #fff;
}
