body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.choice-head {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.choice-profile {
  display: flex;
  justify-content: center;
  gap: 40px;
  cursor: pointer;
}

.profile-text {
  font-size: 4vw;
  margin-bottom: 4vw;
  width: 100%;
}
.profile-name {
  text-align: center;
}
.profile-gate-con {
  background: #141414;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  cursor: pointer;
}
.avatar-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}
.profile-list .avatar-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}
.profile-list .avatar-wrapper > img {
  width: 100%;
}
/* .profile {
  max-width: 200px;
  min-width: 84px;
  width: 10vw;
  margin-bottom: 2vw;
  margin: 0 1vw 2vw;
} */
.pinning-head {
  width: 100%;
  height: 70px;
}
.pinnin-con {
  height: 70px;
  top: 0;
  position: relative;
  left: 0;
  right: 0;
}

.profile-icon {
  width: 100%;
  border-radius: 10px;
}

.profile-button {
  font-weight: bold;
  border: 1px solid gray;
  display: inline-block;
  padding: 8px 40px;
  margin-top: 4vw;
}
.profile-text {
  color: #fff;
}
