body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}
.flex {
  display: flex;
}

.flex_jc_sa {
  justify-content: space-around;
}

.flex_jc_sb {
  justify-content: space-between;
}

.flex_jc_c {
  justify-content: center;
}

.flex_jc_end {
  justify-content: end;
}

.flex_ai_c {
  align-items: center;
}

.img_box > img {
  width: 100%;
  height: 100%;
}

hr {
  margin: 0;
  border: 4px solid rgb(46, 46, 46);
}

.first_wrap {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("../img/first_banner.jpg");
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.first_wrap > .style_box1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  z-index: 10;
  box-shadow: 50px 150px 1000px 50px inset;
}

.first_wrap > .style_box2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  z-index: 10;
  box-shadow: -50px -150px 1000px 50px inset;
}

.first_wrap > .top_wrap {
  position: relative;
  width: calc(100% - 92px);
  height: 60px;
  z-index: 15;
  padding: 22px 46px;
}

.first_wrap > .top_wrap > .logo {
  width: 180px;
  color: white;
  text-decoration: none;
}

.first_wrap > .top_wrap > .logo > img {
  width: 100%;
  height: 100%;
}

.first_wrap > .top_wrap > .icon {
  margin: 10px 0 0;
  width: 80px;
  height: 35px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
}

.first_wrap > .top_wrap > .icon > a {
  color: white;
  text-decoration: none;
}

.first_wrap > .center_box {
  color: white;
  width: 70%;
  display: inline-block;
  margin-top: 120px;
  position: relative;
  z-index: 20;
}

.first_wrap > .center_box > .center_h1 {
  display: inline-block;
  font-size: 4rem;
  margin: 0px;
}

.first_wrap > .center_box > .center_p1 {
  font-size: 1.7rem;
}
.first_wrap > .center_box > .center_p2 {
  font-size: 1.2rem;
}

.first_wrap > .center_box > .tour_box > .email > input {
  padding: 25px 10px;
  font-size: 23px;
}

.first_wrap > .center_box > .tour_box > .btn {
  background: #e50914;
  padding: 10px 20px;
  font-size: 28px;
  color: white;
  text-decoration: none;
}

.con1_wrap {
  background-color: black;
  padding: 70px 0px;
}

.con1_wrap > .text_box {
  width: 30%;
  color: white;
  text-align: start;
  margin-top: 50px;
}

.con1_wrap > .text_box > h1 {
  font-size: 50px;
}

.con1_wrap > .text_box > .text {
  font-size: 27px;
  letter-spacing: -0.5px;
}

.con1_wrap > .video_box {
  position: relative;
  width: 30%;
}

.con1_wrap > .video_box > .img_box {
  width: 530px;
  margin-left: 100px;
  z-index: 2;
}

.con1_wrap > .video_box > .video {
  position: absolute;
  top: 20.8%;
  right: 3.4%;
  z-index: 1;
}

.con1_wrap > .video_box > .video > video {
  width: 386px;
  height: auto;
}

.con2_wrap {
  background-color: black;
  padding: 70px 0px;
}

.con2_wrap > .video_box {
  position: relative;
  width: 30%;
}

.con2_wrap > .video_box > .img_box {
  width: 500px;
  margin-left: -50px;
  z-index: 2;
}

.con2_wrap > .video_box > .video {
  position: absolute;
  width: 330px;
  height: 100px;
  border: 2px solid #333;
  border-radius: 15px;
  top: 65%;
  left: 6%;
  background-color: black;
  z-index: 1;
  box-sizing: border-box;
  padding: 0 20px;
}

.con2_wrap > .video_box > .video > .img_box {
  width: 60px;

  height: auto;
}

.con2_wrap > .video_box > .video > .text1 {
  margin-left: -40px;
}

.con2_wrap > .video_box > .video > .text1 > h5 {
  color: white;
  font-size: 16px;
  margin: 0;
}

.con2_wrap > .video_box > .video > .text1 > h6 {
  color: #0071eb;
  font-size: 15px;
  margin: 5px 0 0 -30px;
  padding: 0;
}

.con2_wrap > .video_box > .video > .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.con2_wrap > .text_box {
  width: 30%;
  color: white;
  text-align: start;
  margin-top: 50px;
}

.con2_wrap > .text_box > h1 {
  width: 80%;
  font-size: 50px;
  letter-spacing: -3px;
  margin-bottom: 20px;
}

.con2_wrap > .text_box > .text {
  margin-top: 00px;
  font-size: 25px;
  letter-spacing: -0.5px;
}

.con3_wrap {
  background-color: black;
  padding: 70px 0px;
}

.con3_wrap > .text_box {
  width: 30%;
  color: white;
  text-align: start;
  margin-top: 50px;
}

.con3_wrap > .text_box > h1 {
  width: 90%;
  font-size: 50px;
}

.con3_wrap > .text_box > .text {
  font-size: 27px;
  letter-spacing: -0.5px;
}

.con3_wrap > .video_box {
  position: relative;
  width: 30%;
}

.con3_wrap > .video_box > .img_box {
  width: 555px;
  margin-left: 100px;
}

.con3_wrap > .video_box > .img_box > img {
  z-index: 10;
}

.con3_wrap > .video_box > .video {
  position: absolute;
  top: 11%;
  left: 36%;
}

.con3_wrap > .video_box > .video > video {
  width: 340px;
  height: auto;
  z-index: 1;
}

.con4_wrap {
  background-color: black;
  padding: 70px 0px;
}

.con4_wrap > .video_box {
  position: relative;
  width: 30%;
}

.con4_wrap > .video_box > .img_box {
  width: 500px;
  margin-left: -50px;
  z-index: 2;
}

.con4_wrap > .video_box > .video {
  position: absolute;
  width: 330px;
  height: 100px;
  border: 2px solid #333;
  border-radius: 15px;
  top: 65%;
  left: 6%;
  background-color: black;
  z-index: 1;
  box-sizing: border-box;
  padding: 0 20px;
}

.con4_wrap > .img_wrap {
  width: 30%;
  height: auto;
}

.con4_wrap > .img_wrap > .img_box {
  width: 90%;
}

.con4_wrap > .text_box {
  width: 30%;
  color: white;
  text-align: start;
  margin-top: 50px;
}

.con4_wrap > .text_box > h1 {
  width: 80%;
  font-size: 50px;
  letter-spacing: -3px;
  margin-bottom: 20px;
}

.con4_wrap > .text_box > .text {
  margin-top: 00px;
  font-size: 25px;
  letter-spacing: -0.5px;
}

.footer_wrap {
  width: 100%;
  background: black;
  color: gray;
  padding: 70px 0px;
}

.footer_wrap > .footer_box {
  width: 50%;
  margin: 0 auto;
}

.footer_wrap > .footer_box > .footer_text {
  text-align: start;
  margin: 0 auto;
}

.footer_wrap > .footer_box > .footer_text > h4 {
  font-weight: 100;
}

.footer_wrap > .footer_box > .footer_text > .item_box {
  padding: 0;
  flex-wrap: wrap;
  font-size: 13px;
}

.footer_wrap > .footer_box > .footer_text > .item_box > .footer_item {
  width: 25%;
  margin: 10px 0;
  text-align: start;
}

.footer_wrap > .footer_box > .footer_text > .item_box > .footer_item > a {
  text-decoration: none;
  color: gray;
}

.footer_wrap > .copy_right_box {
  width: 50%;
  margin: 0 auto;
  text-align: start;
}

.footer_wrap > .copy_right_box > h5 {
  font-weight: 100;
}

.footer_wrap > .copy_right_box > .text {
  font-size: 12px;
  line-height: 18px;
}
