/* 노멀라이즈 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.header-top {
  margin-left: 30px;
  display: inline-block;
  width: 100%;
}

/* 로고 시작 */
.main-logo {
  width: 10%;
}
.img-box {
  width: 100%;
}
.img-box > a > img {
  width: 70%;
  margin-top: 1vh;
}

/* 로고 끝 */
/* 메인 네비게이션 시작 */
.nav-main {
  width: 60%;
}
.nav-box {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.nav-box-menu {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.nav-box-menu > .main-nav-text {
  font-weight: bold;
  margin: 0;
  margin-right: 2vw;
}
/* 메인 네비게이션 끝 */

/* 메뉴 박스 */
.view-more-controller {
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin-right: 20px;
}
.view-more-controller ul {
  background-color: rgba(0, 0, 0, 0.8);
}
/* 1차 메뉴 시작 */
.view-more-controller > .sub-menu-list {
  position: absolute;
  display: none;
  width: 220px;
  padding: 20px 0 0;
  margin: 20px 0 0 -100px;
  line-height: 40px;
  right: 0;
}

.view-more-controller > .view-item-arrow {
  position: absolute;
  display: none;
  /* padding: 0 20px; */
  margin-left: -15px;
  z-index: 9999;
}
.view-more-controller:hover > .sub-menu-list,
.view-more-controller:hover > .view-item-arrow {
  display: inline-block;
}
.sub-menu-item {
  display: flex;
  justify-content: start;
  margin-left: 10px;
}
/* 1차 메뉴 끝 */

/* extra-service 시작 */
.extra-service {
  width: 30%;
}
.service_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 90%;
  height: 100%;
}
.search-con {
  margin-right: 1vw;
  font-size: 1.2vw;
}
.search-icon {
  font-size: 1.2vw;
}
.kids-icon,
.view-more-controller {
  margin-right: 20px;
}
.bell-box {
  margin-right: 20px;
  font-size: 30px;
}
.user-icon {
  display: flex;
}
.view-more-button {
  margin-left: 10px;
}
.sub-menu-item {
  padding-top: 10px;
}
.another-profile {
  display: flex;
  justify-content: start;
  align-items: center;
}
.user-nickname,
.setting-profile {
  margin-left: 10px;
}
.mail-address {
  margin-left: 5px;
}
.client-center {
  margin-left: 12px;
}
.logout-button {
  padding-bottom: 10px;
}
/* extra-service 끝 */

.cell {
  float: left;
  box-sizing: border-box;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}

.min-menu-text {
  /* border: solid 3px red; */
  position: relative;
  text-align: center;
}
.min-menu-text .min-menu {
  position: absolute;
  display: inline-block;
  width: 220px;
  line-height: 40px;
}
.min-menu-text .min-menu > a {
  display: block;
  padding: 10px;
}
