.openModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 2rem 0; */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 29;
  overflow: auto;
}

.openModal > .modal_wrap {
  width: 55%;
  height: max-content;
  margin: 110% 0 0;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 25px;
  /* overflow: hidden; */
}

.openModal > .modal_wrap > .modal_box {
  /* width: 932.62px;
    top: 520px;
    left: auto;
    transform-origin: center top;
    transform: translateX(0px) translateY(calc(-520px + 2em)) scaleX(1) scaleY(1) translateZ(0px);
    box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
    z-index: 2;
    opacity: 1;
    margin-bottom: 2em;
    min-width: 850px; */
  width: 50%;
  height: 120%;
  display: inline-block;
  position: absolute;
  justify-content: center;
  align-items: center;

  /* background-color: tan; */
}

.modal_video_box {
  position: relative;
}

.modal_video_box > .modal_close {
  position: relative;
  top: 0;
  right: 0;
  /* width: max-content; */
}

.modal_video_box > .modal_close > .close {
  position: absolute;
  top: 10px;
  left: calc(100% - 50px);
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  z-index: 10;
}

.modal_video_box > .play_title {
  position: absolute;
  top: 55%;
  left: 5%;
}

.modal_video_box > .play_title > .img_box {
  width: 350px;
}

.modal_video_box > .play_title > .play_progress {
  margin: 20px 10px 10px 0px;
}

.modal_video_box > .play_title > .play_progress > .video_progress {
  width: 50%;
  height: 2px;
  background: #ffffff4d;
}

.modal_video_box > .play_title > .play_progress > .video_progress_text {
  margin-left: 10px;
}

.modal_video_box > .play_title > .video_button_controller {
  position: relative;
  width: 200px;
  z-index: 50;
  margin-top: 0px;
}

.modal_video_box > .play_title > .video_button_controller > .play {
  width: max-content;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 5px;
}

.modal_video_box > .play_title > .video_button_controller > .play > .play_text {
  width: 40px;
  height: 20px;
  margin-left: 10px;
}

.modal_video_box > .play_title > .video_button_controller > .play > .play_icon {
  width: 20px;
  height: 20px;
}

.modal_video_box > .play_title > .video_button_controller > .steam,
.modal_video_box > .play_title > .video_button_controller > .evaluation {
  background-color: #2a2a2a99;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  padding: 0px 19px;
  margin-left: 10px;
}

.modal_video_box > .play_title > .video_button_controller > .steam:hover,
.modal_video_box > .play_title > .video_button_controller > .evaluation:hover {
  background: #2a2a2a;
  border-color: white;
}

.detail_modal_container {
  margin: 40px 50px;
}

.detail_modal_container > .pirview_detail_box {
  width: 65%;
  margin-right: 5%;
}

.detail_modal_container > .pirview_detail_box > .pirview_detail {
  width: 50%;
}

.detail_modal_container > .pirview_detail_box > .pirview_detail > div {
  margin-right: 15px;
}

.detail_modal_container > .pirview_detail_box > .episode_detail {
  margin: 30px 0 0;
  text-align: start;
}

.detail_modal_container
  > .pirview_detail_box
  > .episode_detail
  > .episode_title {
  font-size: 20px;
}

.detail_modal_container
  > .pirview_detail_box
  > .episode_detail
  > .episode_content {
  font-size: 16px;
  margin-top: 14px;
}

.detail_modal_container > .cast_box {
  width: 30%;
  text-align: start;
}

.detail_modal_container > .cast_box > div {
  margin-bottom: 10px;
}

.detail_modal_container > .cast_box > div > span {
  font-size: 15px;
  color: #777777;
}

/* 
.modal_video_box > .modal_video_wrap > .back {
  width: 100%;
  height: 100%;
  box-shadow: 0px 50px 100px black inset;
  z-index: 40;
} */

.episode_video_wrap {
  margin: 40px 50px;
}

.episode_video_wrap > .video_item {
  padding: 20px 10px;
  background: #333;
  border-radius: 5px;
  margin-bottom: 20px;
}

.episode_video_wrap > .video_item > .video_number {
  width: 5%;
  margin-right: 1%;
}

.episode_video_wrap > .video_item > .video_img {
  width: 20%;
  margin-right: 5%;
}

.episode_video_wrap > .video_item > .modal_video_text_wrap {
  width: 65%;
  /* margin-right: 5%; */
}

.episode_video_wrap > .video_item > .modal_video_text_wrap > .text1 > h4 {
  margin: 5px 0;
}

.episode_video_wrap > .video_item > .modal_video_text_wrap > .text2 {
  font-size: 14px;
  text-align: start;
  margin-top: 10px;
  color: #d2d2d2;
}
