.movie-head {
  position: relative;
}

.MovieTestVideo {
  margin-top: 10vh;
}

.movie-head-con {
  display: flex;
  /* border: 3px solid red; */
  position: absolute;
  top: 10vh;
  z-index: 99;
  width: max-content;
  align-items: center;
}
.movie-page-text {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 3rem;
  font-weight: 400;
}
.choice-genre {
  height: 100%;
  border: 1px solid white;
  background-color: inherit;
  color: white;
  outline: none;
  font-size: 1.5rem;
  padding: 5px 15px;
}
.choice-genre > option {
  background-color: black;
}

.movieWrap {
  width: 100%;
}
.movieBox {
  width: 80%;
  margin: 0 auto 100px;
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
}

.movieItem {
  width: 260px;
  margin-bottom: -60px;
  /* margin-bottom: 200px; */
}
