body,
ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.original-Header {
  width: 100%;
  display: flex;
}
.original-box {
  position: relative;
  bottom: -100px;
}
.original-con {
  width: 100%;
  display: flex;
}

.original-box-text > .title-text {
  font-size: 2.5rem;
  margin-left: 2.2vw;
}

.search-container {
  display: inline-block;
  margin: 0 0 4.2vw;
  position: relative;
  box-sizing: border-box;
  /* border: 2px solid blue; */
}

.search-result {
  margin-top: 5vh;
  margin-left: 2vh;

  padding: 0 2%;
}

.search-thumbnail {
  display: inline-block;
}

.search-thumbnail-img {
  display: inline-block;
  border-radius: 10px;
  padding-left: 0;

  box-sizing: border-box;

  padding: 0 0.2vw;
  position: relative;
  vertical-align: top;
  white-space: normal;
  z-index: 1;
}
.language-con {
  display: flex;
  justify-content: end;
  /* border: solid blue 3px; */
  width: 100%;
  position: absolute;
  top: 1.8vh;
  /* margin-right: 10px; */
}
.language-con > * {
  margin-right: 10px;
}
.preference-Language {
  font-size: 1.2rem;
}
.original-box-text {
  display: inline-block;
}
.native-language {
  top: 1vh;
  width: 100%;
  display: flex;

  /* border: solid gold 3px; */
}

.native-language-box > .native-language > select {
  width: 6vw;
  height: 33px;
  margin: 0;
  padding: 5px 15px;
  background: black;
  color: #ccc;
  outline: none;
  border: 1px solid white;
  font-size: 1.2rem;
  margin-top: -2px;
  margin-right: 20px;
}
.native-language-box > .native-language > .choice-language {
  width: 400px;
}
.native-language-box > .native-language > .language-box > select > option {
  padding: 10px 0;
}
.native-language-box > .native-language > .choice-menual {
  width: 400px;
}
.sort-by,
.preference-Language {
  font-size: 1.2rem;
  margin-right: 20px;
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .search-container {
    width: calc(100% / 5);
  }
  .search-container
    > .search-result
    > .search-thumbnail
    > a
    > .search-thumbnail-img:nth-child(5n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 851px) {
  .search-container {
    width: calc(100% / 4);
  }
  .search-container
    > .search-result
    > .search-thumbnail
    > a
    > .search-thumbnail-img:nth-child(4n + 1) {
    clear: both;
  }
}

@media only screen and (max-width: 850px) and (min-width: 701px) {
  .search-container {
    width: calc(100% / 3);
  }
  .search-container
    > .search-result
    > .search-thumbnail
    > a
    > .search-thumbnail-img:nth-child(3n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 700px) and (min-width: 551px) {
  .search-container {
    width: calc(100% / 2);
  }
  .search-container
    > .search-result
    > .search-thumbnail
    > a
    > .search-thumbnail-img:nth-child(2n + 1) {
    clear: both;
  }
}
@media only screen and(max-width:550px) {
  .search-container {
    width: 100%;
  }
}
