body,
ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.original-Header {
  width: 100%;
  display: flex;
}
.original-box {
  position: relative;
  bottom: -100px;
  min-height: 10px;
  justify-content: center;
}
.original-box-text > .title-text {
  font-size: 2.5rem;
  margin-left: 2.2vw;
}

.search-container {
  display: inline-block;
  margin: 0 0 4.2vw;
  position: relative;
  box-sizing: border-box;
  /* border: 2px solid blue; */
}

.search-result {
  margin-top: 5vh;
  margin-left: 2vh;

  padding: 0 2%;
}

.search-thumbnail {
  display: inline-block;
}

.search-thumbnail-img {
  display: inline-block;
  border-radius: 10px;
  padding-left: 0;

  box-sizing: border-box;

  padding: 0 0.2vw;
  position: relative;
  vertical-align: top;
  white-space: normal;
  z-index: 1;
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .search-container {
    width: calc(100% / 5);
  }
  .search-container
    > .search-result
    > .search-thumbnail
    > a
    > .search-thumbnail-img:nth-child(5n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 851px) {
  .search-container {
    width: calc(100% / 4);
  }
  .search-container
    > .search-result
    > .search-thumbnail
    > a
    > .search-thumbnail-img:nth-child(4n + 1) {
    clear: both;
  }
}

@media only screen and (max-width: 850px) and (min-width: 701px) {
  .search-container {
    width: calc(100% / 3);
  }
  .search-container
    > .search-result
    > .search-thumbnail
    > a
    > .search-thumbnail-img:nth-child(3n + 1) {
    clear: both;
  }
}
@media only screen and (max-width: 700px) and (min-width: 551px) {
  .search-container {
    width: calc(100% / 2);
  }
  .search-container
    > .search-result
    > .search-thumbnail
    > a
    > .search-thumbnail-img:nth-child(2n + 1) {
    clear: both;
  }
}
@media only screen and(max-width:550px) {
  .search-container {
    width: 100%;
  }
}
