.profile_wrap {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.profile_wrap .profile_inner {
  width: 60%;
  height: 50%;
  box-sizing: border-box;
  text-align: center;
}

.profile_inner > h1 {
  font-size: 65px;
  font-weight: 500;
  margin: 0;
}

.profile_box {
  margin-top: 45px;
}

.profile_box > ul {
  width: 100%;
  /* height: 200px; */
  display: flex;
  justify-content: center;
}

.profile_box > ul > li:last-child {
  margin-right: 0;
}

.profile_items {
  width: 190px;
  margin-right: 30px;
  display: flex;
  border-radius: 2%;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  /* width: 100px;
  height: 100px; */
}

.profile_items > .profile_img_box > img {
  width: 100%;
  height: 100%;
}

/* .profile_items > .profile_img_box > img::after {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;

} */

.profile_items > .profile_img_box {
  position: relative;
  box-sizing: border-box;
  border: 5px solid #11111100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
}

.profile_items > .profile_img_box::after {
  background: rgba(0, 0, 0, 0.4);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.profile_items > .last_profile_items::after {
  background: none;
}

.profile_items > .profile_img_box > svg {
  font-size: 100px;
  background: #11111100;
}

.profile_pencil {
  position: absolute;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.profile_items > .profile_name {
  font-size: 23px;
  margin: 15px 0 0;
  color: #808080;
}

.profile_items:hover > .profile_img_box {
  border: 5px solid #808080;
}

.profile_items:hover > .profile_name {
  color: white;
}

.btn_box {
  display: flex;
  justify-content: center;
  margin: 80px 0 0;
}

.finish_btn {
  width: 120px;
  height: 60px;
  background: white;
  color: black;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* 프로필 변경 클릭하면 나오는 css */
/* ProfileSub */

.profile_click {
  width: 40%;
  height: 100%;
}

.profile_click > h1 {
  font-size: 60px;
  margin: 50px 0 0;
  font-weight: 500;
}

.profile_click > hr {
  border: 1px solid #353535;
  margin: 0 0 30px 0;
}

.profile_click_inner > .profile_avatar_box {
  position: relative;
  width: 20%;
}

.profile_avatar_box > img {
  width: 100%;
  /* height: 100px; */
  border: 1px solid red;
}

.profile_avatar_box > .pofile_detail_img_btn {
  cursor: pointer;
}

.profile_click_inner > .profile_text_box {
  width: 75%;
  margin-left: 5%;
  color: #ccc;
}

.profile_click_inner > .profile_text_box > .name_box > .name,
.profile_click_inner > .profile_text_box > .game_name_box > .gameName {
  width: 92%;
  background: #808080;
  padding: 8px 20px;
  border: none;
  outline: none;
  font-size: 23px;
  color: white;
}

.profile_click_inner
  > .profile_text_box
  > .game_name_box
  > .gameName::placeholder,
.profile_click_inner > .profile_text_box > .name_box > .name::placeholder {
  color: #ccc;
}

.profile_click_inner > .profile_text_box > .language_box {
  margin: 40px 0 0;
}

.profile_click_inner > .profile_text_box > .language_box > h2 {
  margin: 0 0 5px 0;
  font-weight: 100;
}

.profile_text_box h2 {
  margin: 20px 0;
  font-weight: 100;
}

.profile_click_inner > .profile_text_box > .language_box > select {
  margin: 0;
  padding: 5px 15px;
  background: black;
  color: #ccc;
  outline: none;
  border: 1px solid white;
}

.profile_click_inner > .profile_text_box > .language_box > select option {
  padding: 10px 0;
}

.profile_text_box > .game_name_box > .gamesHandleDescription {
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
}

.profile_text_box > hr {
  border: 1px solid #353535;
  margin: 30px 0 20px;
}

.film_rating_box > .film_rating_all {
  background-color: #333333;
  color: #fff;
  width: max-content;
  padding: 8px 10px;
}

.film_rating_box > .film_rating_text {
  margin-top: 10px;
  color: #fff;
}

.film_rating_box > .film_rating_btn {
  border: 1px solid grey;
  color: grey;
  width: max-content;
  padding: 8px 23px;
  margin: 30px 0;
}

.film_rating_box > .film_rating_btn:hover {
  color: white;
  border: 1px solid white;
}

/* .autoplay_setting_box > .check1 > label {
  border: 1px solid #808080;
  background: #000;
} */

.autoplay_setting_box > .check1,
.autoplay_setting_box > .check2 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.autoplay_setting_box > .check1 > input[id="check1"] + label,
.autoplay_setting_box > .check2 > input[id="check2"] + label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #808080;
  background: none;
  line-height: 10px;
  margin-right: 5px;
}

.autoplay_setting_box > .check1 > input[id="check1"],
.autoplay_setting_box > .check2 > input[id="check2"] {
  display: none;
}

.autoplay_setting_box > .check1 > input[id="check1"]:checked + label,
.autoplay_setting_box > .check2 > input[id="check2"]:checked + label {
  background: #808080;
}

.profile_click > form > hr {
  border: 1px solid #353535;
  margin: 20px 0 30px 0;
}

.form_btn_box {
  margin-bottom: 20px;
}

.form_btn_box > .save {
  background: white;
  border: 1px solid white;
}

.form_btn_box > button {
  padding: 10px 25px;
  background: #00000000;
  border: 1px solid #808080;
  color: #808080;
  margin-right: 20px;
  font-size: 18px;
}

.form_btn_box > .save:hover {
  background: red;
  border: 1px solid red;
}

.form_btn_box > button:hover {
  border: 1px solid white;
  color: white;
}

/* ProfileIcon */

.profile_icon_wrap {
  width: 70%;
  margin: 100px 0 0;
}

.profile_icon_wrap > .profile_icon_header > .back_btn {
  width: 8%;
  font-size: 100px;
}

.profile_icon_wrap > .profile_icon_header > .text_box {
  width: 70%;
}

.profile_icon_wrap > .profile_icon_header > .text_box > h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

.profile_icon_wrap > .profile_icon_header > .text_box > h3 {
  margin: 10px 0 0;
  font-size: 32px;
  font-weight: 400;
}

.profile_icon_wrap > .profile_icon_header > .profile_info {
  width: 20%;
  justify-content: flex-end;
}

.profile_icon_wrap > .profile_icon_header > .profile_info > .name {
  font-size: 25px;
  margin-right: 30px;
}

.profile_icon_wrap > .profile_icon_header > .profile_info > .img > img {
  width: 80px;
  height: 80px;
  border-radius: 5%;
}

.profile_icon_wrap > .profile_icon_choice_box {
  width: 90%;
  margin: 0 auto;
}

.profile_icon_wrap > .profile_icon_choice_box > .icon_choice > li {
  margin-right: 20px;
}

.profile_icon_wrap > .profile_icon_choice_box ul li {
  width: 150px;
  height: 150px;
  border-radius: 5%;
  overflow: hidden;
}

.profile_icon_wrap > .profile_icon_choice_box ul li > img {
  width: 100%;
  height: 100%;
}
