// body {
//   background-color: blue;
// }

.slide-body {
  color: white;
  background-color: transparent;
  position: relative;
  z-index: 20;
}

/* 오늘 대한민국의 TOp 10 시리즈 text */
.slide-body .top-10-text {
  text-align: left;
  margin: 0px 3% -40px;
  font-size: 25px;
  font-weight: 100;
}

/* 화살표 커스터마이징 */

/* 화살표 이미지 */
.slide-body .slick-prev:before,
.slide-body .slick-next:before {
  content: url("https://img.icons8.com/windows/32/FFFFFF/back.png");
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slide-body .slick-next:before {
  content: url("https://img.icons8.com/windows/32/FFFFFF/forward.png");
}

/* 화살표 모션 */
.slide-body .slick-arrow {
  display: flex;
  position: absolute;
  opacity: 0;
  transition: all 0.25s ease-in-out !important;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out !important;
  align-self: center;
  height: 220px;
  width: 2vw;
  margin-top: 0.5vw;
}

.slide-body .slick-arrow:hover {
  opacity: 0.7;
  background-color: #141414;
}

.slide-body .slick-prev {
  left: 0;
  z-index: 10;
}

.slide-body .slick-next {
  right: 0;
}

.slide-body .slick-prev,
.slide-body .slick-next {
  // 좌측 화살표의 위치값을 넣어줍니다.
  // margin-left: 2vh;
}

.slide-body .slick-prev::before,
.slide-body .slick-next::before {
  // font-size: 20px !important;
}

.slick-next {
  //   // 우측화살표의 위치값을 넣어줍니다.
}

.slick-next::before {
}
/* 좌/우측 화살표 끝 */

/* rank number */
.slide-body .boxart-size-7x10 .top-10-rank {
  bottom: 0;
  left: 0;
  position: absolute;
  right: auto;
  top: 0;
  width: 50%;
  border: 3px solid red;
}

.slide-body .t_17d527 .svg-icon {
  border: 1px solid transparent;
  margin: 0 -1px;
  overflow: visible;
  transform: scale(1);
}

.ranking-slide-body {
  text-align: center;
}

.slide-body .slider_items {
  position: absolute;
  // margin: 30px;

  height: 24vh;
  top: 20%;
}

.slide-body .top-10-rank {
  width: 150px;
  height: 213px;
  position: absolute;
  left: -160px;
}

.slide-body .top-10-rank-10 {
  top: -1px;
  width: 188px;
  left: -198px;
}
/* 화살표 커스터마이징 끝 */

/* 랭킹 넘버 */
.slide-body .ranking-img {
  margin-left: -10px;
  position: absolute;
}

.slide-body .ranking-img > img {
  width: 150px;
  height: 213px;
  border-radius: 0 2% 2% 0;
}

.slide-body .slide-body {
  overflow-x: hidden;
}
.slide-body .slick-track {
  height: 35vh;
}

.slide-body .slick-track > .slick-slide {
  width: 180px;
}

.slide-body .slider_items:hover .ranking-img {
  visibility: hidden;
  transition: all 0.4s;
}

.slide-body .slider_items > .video_box {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  // transform: translate(-50%, -50%);
  transition: all 0.4s linear;
  top: -55px;
  left: -155px;
  z-index: 10;
}

.slide-body .slider_items:hover > .video_box {
  // transform: scale(2.5);
  // border-radius: 25px;
  visibility: visible;
  opacity: 1;
  // display: block;
  transition: all 0.4s linear;
}
