.hover_box {
  width: 100%;
  position: relative;
  color: white;
  box-sizing: border-box;
}

.hover_box > .video_text {
  width: calc(100% - 40px);
  height: 90px;
  background: #141414;
  position: absolute;
  margin-top: -25px;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

.hover_box > .video_text > .video_icon_box > .ditail {
  margin-left: 130px;
}

.hover_box > .video_text > .video_icon_box > .play {
  border: 2px solid white;
  background: white;
}

.hover_box > .video_text > .video_icon_box > .play:hover {
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
}

.hover_box > .video_text > .video_icon_box > * {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #909090;
  background: #232323;
}

.hover_box > .video_text > .video_icon_box > *:hover {
  border: 2px solid white;
}

.video_mini_detail {
  margin-top: 10px;
  font-size: 14px;
}

.video_mini_detail > div {
  margin-right: 8px;
}
