/* 슬라이드 틀 */
.slideItems-all-container {
  box-sizing: border-box;
  padding: 0 2%;
  margin-bottom: -5vh;
  position: relative;
}

/* 타이틀 커스터마이징 */

.slide-title-text {
  //   position: relative;
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 0;
  margin-left: -0.5%;
  z-index: 999;
  position: absolute;
  top: 1%;
  padding: 0.8%;
}

.slide-detail-hover {
  display: inline-block;
  position: relative;
}

.slide-detail-text {
  position: absolute;
  display: inline-block;
  color: #54b9c5;
  margin-top: 10px;
  font-size: 0.8vw;
  opacity: 0;
  white-space: nowrap;
  transition: max-width 1.75s, opacity 1.75s, transform 1.25s;
}

.slide-arrow-img {
  position: absolute;
  display: inline-block;
  margin-top: 16px;
  opacity: 0;
  color: #54b9c5;
}

.slide-detail-hover {
  position: absolute;
}

/* 타이틀 호버 */

.slide-title-text:hover > .slide-detail-text {
  display: inline-block;
  opacity: 1;
  max-width: 200px;
  // transform: translate(1vw);

  // transition: max-width 1.75s, opacity 1.75s, transform 1.25s;
}

.slide-title-text:hover > .slide-arrow-img {
  display: inline-block;
  opacity: 1;
  max-width: 200px;
  // margin: 15px 0 0 0;
  margin-top: 16px;
  transform: translate(4.5vw);
  transition: max-width 1s, opacity 0.5s, transform 0.5s;
}

/* 타이틀 커스터마이징 끝 */

/* 섬네일 이미지 커스터마이징 */
.real-container {
  //   height:\ 1000px;
  margin-top: 100px;
  position: absolute;
}

.thumbnail-container {
  // height: 300px;
  position: relative;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  transition: all 0.1s linear;
  border-radius: 8px;
}

.slide-body .slick-track {
  height: 35vh;
}

.slide-body .slick-track > .slick-slide {
  width: 180px;
}

.slick-list {
}

/* 섬네일 이미지 커스터마이징 끝*/

.slick-slide {
}

.example {
  border: 1px solid blue;
  display: inline-block;
}

/* 화살표 커스터마이징 */

/* 화살표 이미지 */
.slideItems-all-container .slick-prev:before,
.slideItems-all-container .slick-next:before {
  content: url("https://img.icons8.com/windows/32/FFFFFF/back.png");
  display: flex;
  align-items: center;
  height: 145px;
  width: 100%;
}

.slideItems-all-container .slick-arrow:hover {
  opacity: 0.7;
  background-color: #141414;
  height: 18vh;
}

.slideItems-all-container .slick-next:before {
  content: url("https://img.icons8.com/windows/32/FFFFFF/forward.png");
}

/* 화살표 모션 */
.slideItems-all-container .slick-arrow {
  display: flex;
  position: absolute;
  opacity: 0;
  transition: all 0.25s ease-in-out !important;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out !important;
  margin-top: 2vh;
  height: 18vh;
  width: 2vw;
}

.slideItems-all-container .slick-prev {
  left: 0;
  z-index: 10;
}

.slideItems-all-container .slick-prev,
.slideItems-all-container .slick-next {
  // 좌측 화살표의 위치값을 넣어줍니다.
  align-items: center;
}

/* 좌/우측 화살표 끝 */

/*리스트 최상위(h2)*/
.rowHeader {
  line-height: 1.3;
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0.5em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-right: 4%;
  margin-bottom: 0;
  margin-right: 4.2%;
}

// @media screen and (min-width: 1500px) {
//   .categoryRowCollapsible .rowHeader {
//     padding-right: 60px;
//   }
// }

/*리스트 타이틀(지금뜨는컨텐츠)*/
.lolomoRow.lolomoRow_title_card .rowTitle .row-header-title {
  display: table-cell;
  font-size: 1.4vw;
  line-height: 1.25vw;
  vertical-align: bottom;
}

// @media screen and (max-width: 800px) {
//   .lolomoRow.lolomoRow_title_card .rowTitle .row-header-title {
//     font-size: 12px;
//   }
// }

/*모두보기+화살표 상위클래스(div)*/

.lolomoRow.lolomoRow_title_card .rowTitle .aro-row-header {
  display: table-cell;
  vertical-align: bottom;
}

/*모두보기(.see-all-link)*/

.lolomoRow.lolomoRow_title_card .rowTitle .aro-row-header .see-all-link {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9vw;
  line-height: 0.8vw;
  margin-right: 4px;
  max-width: 0;
  opacity: 0;
  transition: max-width 1s, opacity 1s, transform 0.75s;
  vertical-align: bottom;
  white-space: nowrap;
}

.lolomoRow.lolomoRow_title_card a.rowTitle:focus .aro-row-header .see-all-link,
.lolomoRow.lolomoRow_title_card:hover
  a.rowTitle:hover
  .aro-row-header
  .see-all-link {
  max-width: 200px;
  opacity: 1;
  transform: translate(1vw);
}

/* 모두보기 화살표(aro-row-chevron) */

.lolomoRow.lolomoRow_title_card .rowTitle .aro-row-chevron {
  display: none;
  font-size: 0.9vw;
  transition: transform 0.75s;
  vertical-align: bottom;
}

.lolomoRow.lolomoRow_title_card
  .rowTitle
  .aro-row-header.more-visible
  .aro-row-chevron,
.lolomoRow.lolomoRow_title_card
  .rowTitle
  .aro-row-header.more-visible
  .see-all-link {
  color: #54b9c5;
}

.lolomoRow.lolomoRow_title_card
  a.rowTitle:focus
  .aro-row-header
  .aro-row-chevron,
.lolomoRow.lolomoRow_title_card:hover
  a.rowTitle:hover
  .aro-row-header
  .aro-row-chevron {
  font-size: 0.65vw;
  line-height: 0.8vw;
  transform: translate(1vw);
}

@media screen and (max-width: 800px) {
  .lolomoRow.lolomoRow_title_card
    a.rowTitle:focus
    .aro-row-header
    .aro-row-chevron,
  .lolomoRow.lolomoRow_title_card:hover
    a.rowTitle:hover
    .aro-row-header
    .aro-row-chevron {
    font-size: 6px;
  }
}

.lolomoRow.lolomoRow_title_card a.rowTitle:focus .aro-row-chevron,
.lolomoRow.lolomoRow_title_card:hover a.rowTitle .aro-row-chevron {
  display: inline-block;
  font-size: 0.9vw;
  vertical-align: bottom;
}

/* 모두보기 화살표(.icon-akiraCaretRight) */
.icon-akiraCaretRight:before {
  content: "https://img.icons8.com/metro/10/54b9c5/forward.png";
}

.thumbnail-box2 {
  width: 250px;
  overflow: hidden;
  transition: 0.3s;
  margin-top: 50px;
}

.thumbnail-box2 > .thumbnail-img2 {
  height: 140px;
}

.thumbnail-box2 > .thumbnail-img2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-content2 {
  background-color: #141414;
  padding: 12px;
  color: #f6f6f6;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 5px 20px -5px black;
}

.thumbnail-box2:hover {
  transform: scale(1.2) translateY(-20px);
  // transform: scale(1.3);
  margin-top: 50px;
  box-shadow: 0px 5px 20px -5px black;
}

.thumbnail-box2:hover > .thumbnail-img2 img {
  border-radius: 8px 8px 0px 0px;
}

.hover_thumbnail-box2_06:hover {
  transform: scale(1.2) translate(30px, -20px);
}

.hover_thumbnail-box2_5n:hover {
  transform: scale(1.2) translate(-30px, -20px);
}

.thumbnail-box2:hover > .thumbnail-content2 {
  opacity: 1;
  visibility: visible;
}

.thumbnail-content2 > .thumbnail-content__icon2 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.thumbnail-content2 > .thumbnail-content__icon2 > div > * {
  border: 2px solid #777;
  border-radius: 50%;
  padding: 5px;
  margin-right: 3px;
}

.thumbnail-content2 > .thumbnail-content__icon2 > .icon-left2 > .playBtn {
  border: 2px solid #fff;
  background: white;
  color: #343434;
  padding: 2px;
  font-size: 23px;
}

.thumbnail-content2 > .thumbnail-content__icon2 > .icon-left2,
.thumbnail-content2 > .thumbnail-content__icon2 > .icon-right2 {
  position: relative;
  font-size: 17px;
}

.thumbnail-content2 > .thumbnail-content__icon2 > div > svg:hover {
  border: 2px solid white;
}

.thumbnail-content2 > .thumbnail-content__icon2 > .icon-left2 > .playBtn:hover {
  border: 2px solid #ccc;
  background-color: #ccc;
}

.thumbnail-content2 > .thumbnail-content__icon2 > .icon-left2 > * {
  margin-right: 5px;
}

.thumbnail-content2 > .thumbnail-content__icon2 > .icon-left2 > a {
  margin: 0;
  width: 37.2px;
  height: 37.2px;
  margin-top: -20px;
}

// .thumbnail-content2 > .thumbnail-content__icon2 > .icon-left2 > .good {
//   border: 1px solid red;
// }

.thumbnail-content2
  > .thumbnail-content__icon2
  > .icon-left2
  > .hover_box_none {
  display: none;
}

.thumbnail-content2 > .thumbnail-content__icon2 > .icon-left2 > .hover_box_run {
  display: flex;
  align-items: center;
  position: absolute;
  top: -16%;
  left: 30%;
  background: #141414;
  border-radius: 25px;
  padding: 3px 10px 3px 7px;
}

.thumbnail-content2
  > .thumbnail-content__icon2
  > .icon-left2
  > .hover_box_run
  > * {
  // margin-right: 2px;
  padding: 7px;
}

.thumbnail-content2
  > .thumbnail-content__icon2
  > .icon-left2
  > .hover_box_run
  > *:hover {
  border-radius: 50%;
  background: #808080;
}

.thumbnail-content__icon2 > .icon-left2 > .hover_box_run .good_overlapping {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  // margin-right:? 2px;
  padding: 7px 9px 7px 5px;
}

.thumbnail-content__icon2
  > .icon-left2
  > .hover_box_run
  .good_overlapping
  > svg:last-child {
  position: absolute;
  right: 14%;
  top: 27%;
}

.thumbnail-content__txt2 > .video_mini_detail2 > * {
  font-size: 11px;
}

.thumbnail-content__txt2 > .video_mini_detail2 {
  margin-top: 10px;
  font-size: 14px;
}
.thumbnail-content__txt2 > .video_mini_detail2 > .text1 {
  color: #46d369;
  font-weight: 700;
}

.thumbnail-content__txt2 > .video_mini_detail2 > .view_age {
  border: 1px solid #909090;
  padding: 2px 8px;
  line-height: 12px;
}

.thumbnail-content__txt2 > .video_mini_detail2 > .HD {
  border: 1px solid #909090;
  padding: 3px 5px;
  border-radius: 10%;
  font-size: 10px;
  line-height: 11px;
}

.thumbnail-content__txt2 > .video_mini_detail2 > div {
  margin-right: 5px;
}

.thumbnail-content2 > .video_genre2 {
  margin-top: 8px;
  font-size: 10px;
  height: 23px;
  display: flex;
  align-items: center;
}

.thumbnail-content2 > .video_genre2 > li:first-child {
  margin: 0;
  padding: 0;
}

.thumbnail-content2 > .video_genre2 > li {
  margin-left: 13px;
  position: relative;
  word-break: keep-all;
}

.thumbnail-content2 > .video_genre2 > li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #909090;
  position: absolute;
  top: 50%;
  left: -9px;
  transform: translateY(-50%);
}

.thumbnail-content2 > .video_genre2 > li:first-child:before {
  width: 0;
  height: 0;
}
