/* 슬라이드 패딩 */
.korean-drama-slide {
  padding: 4%;
}

/* 타이틀 커스터마이징 */

.korean-drama-text {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 10px;
}

.korean-drama-text2 {
  display: inline-block;
  color: #54b9c5;

  margin-left: 10px;
  font-size: 0.9vw;
  opacity: 0;
  vertical-align: bottom;
  white-space: nowrap;
  max-width: 200px;
  transition: max-width 1s, opacity 1s, transform 0.75s;
}

.korean-drama-arrow {
  display: inline-block;
  opacity: 0;
  vertical-align: bottom;
  white-space: nowrap;
  margin-left: -30%;
  color: #54b9c5;
}

.korean-drama-text:hover > a > div {
  display: inline-block;
  opacity: 1;
  max-width: 200px;
  transform: translate(1vw);
  transition: max-width 1.75s, opacity 1.75s, transform 1.25s;
}

.korean-drama-text:hover > a > img {
  display: inline-block;
  margin-left: 0;
  max-width: 300px;
  opacity: 1;
  transform: translate(1vw);
  transition: max-width 0.5s, opacity 0.5s, transform 0.2s;
}

/* 타이틀 커스터마이징 끝 */

/* 섬네일 이미지 커스터마이징 */

.korean-drama {
  margin-right: 5px;
}

.kDramaThumbnail {
  border-radius: 5px;
  width: 14.3vw;
}

/* 섬네일 이미지 커스터마이징 끝*/

/* 화살표 커스터마이징 */

/* 화살표 이미지 */
.slick-prev:before {
  content: url("https://img.icons8.com/windows/32/FFFFFF/back.png");
  margin-left: 10px;
}

.slick-next:before {
  content: url("https://img.icons8.com/windows/32/FFFFFF/forward.png");
  margin-left: 10px;
}

/* 화살표 모션 */
.slick-arrow {
  opacity: 0;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  width: 50px;
}

.slick-arrow:hover {
  opacity: 0.5;
  background-color: #141414;
  height: 200px;
  width: 50px;
}

.slick-prev {
  // 좌측 화살표의 위치값을 넣어줍니다.
  margin-left: 2vh;
  z-index: 990;
}

.slick-prev::before {
  font-size: 8rem !important;
}

.slick-next {
  // 우측화살표의 위치값을 넣어줍니다.
  margin-right: 2vh;
  z-index: 990;
}

.slick-next::before {
  font-size: 8rem !important;
}
/* 좌/우측 화살표 끝 */
